<!DOCTYPE html>
<html>

<%- include('_head') %>

  <body>
    <div id="app">

      <%- include('_header') %>

        <div class="container">
          <ol class="breadcrumb">
            <li><a href="/">主页</a></li>
            <li class="active">作业</li>
          </ol>
          <div class="col-md-12">
            <div class="bs-callout bs-callout-danger">
              <h4>
                <%= title %>
              </h4>
              <p>
                <%= homeworks.length %>位同学交流作业，感谢同学们的努力！
              </p>
            </div>
          </div>

          <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">作业列表</h3>
              </div>
              <div class="panel-body">
                <% for(var i = 0; i < homeworks.length; i++) {%>
                  <li class="list-group-item">
                    <a href="<%= homeworks[i].url %>" taget="_blank">
                      <%= homeworks[i].name %>
                    </a>
                  </li>
                  <% } %>
              </div>
            </div>
          </div>

          <%- include('_slider') %>
        </div>
    </div>
    <div class="footer">
      <img class="avatar" src="https://ws1.sinaimg.cn/large/006tKfTcgy1fi7s7vo8y0j30hs0hsaay.jpg"></img>
    </div>
  </body>

</html>