<!DOCTYPE html>
<html>

<%- include('_head') %>

  <body>
    <div id="app">
      <%- include('_nav') %>
      <%- include('_header') %>

        <div class="container">
          <ol class="breadcrumb">
            <li><a href="/">主页</a></li>
            <li class="active">我的心里话</li>
          </ol>
          <div class="col-md-12">
            <div class="bs-callout bs-callout-danger">
              <h4>
                <%= title %>
              </h4>
              <p>
                我有一个梦想，学会JS，用编程创造未来。
              </p>
            </div>
          </div>

          <div class="col-md-8">
            <div class="alert alert-danger" role="alert">下面没有你？可能你提交的json文件格式错误，再给我提一个pr修正你的json文件</div>
            <% for(var i = 0; i < words.length; i++ ) {%>
              <div class="media">
                <div class="media-left">
                  <a href="#">
                <img class="media-object avatar" src="<%= words[i].avatar %>" alt="...">
              </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <%= words[i].name %>
                  </h4>
                  <%= words[i].words %>
                </div>
              </div>
              <% } %>
          </div>

          <%- include('_slider') %>
        </div>
    </div>
    <div class="footer">
      <img class="avatar" src="https://ws1.sinaimg.cn/large/006tKfTcgy1fi7s7vo8y0j30hs0hsaay.jpg"></img>
    </div>
  </body>

</html>